

<main id="main">
    <!--==========================
  About Us Section
============================-->
    <section id="about">
        <br><br><br>
        <div class="container" style="text-align: center;">
            <h2 class="priv"><strong>Política de privacidad</strong></h2>
        
            <p class="priv">Fecha de entrada en vigor: 31 de enero de 2019</p>
            <p class="priv">Esta página le informa de nuestras políticas con respecto a la recolección, uso y divulgación de datos personales cuando usted usa nuestro Servicio y
             las opciones que usted tiene asociadas con esos datos. Nuestra Política de Privacidad para HearMee se crea con la ayuda de la página web de 
             Política de Privacidad Gratuita.
             </p>

            <p class="priv">Utilizamos sus datos para proporcionar y mejorar el Servicio. Al usar el Servicio, usted está de acuerdo con la recolección y el uso de la información de 
            acuerdo con esta política. A menos que se defina de otra manera en esta Política de Privacidad, los términos utilizados en esta Política de Privacidad tienen 
            los mismos significados que en nuestros Términos y Condiciones, accesibles desde www.hearmee.ovh.</p>
             <p class="priv">Esta página web es un proyecto de aprendizaje basado en proyectos (PBL) desarrollado por un grupo de estudiantes de Ingeniería Multimedia de la Universidad de Alicante. 
            Los datos son ficticios y han sido generados sintéticamente.
            </p>

            <h3 class="priv"><strong>Tipos de datos recopilados</strong></h3>
            <h5 class="priv"><strong>Datos personales</strong></h5>
            <p class="priv">Al utilizar nuestro Servicio, es posible que le pidamos que nos proporcione cierta información de identificación personal que se puede utilizar para contactar con usted o
                 identificarlo ("Datos personales"). La información de identificación personal puede incluir, entre otras cosas:<br>

                    - Dirección de correo electrónico<br>
                    - Nombre y apellido<br>
                    - Número de teléfono<br>
                    - Dirección, Estado, Provincia, Código Postal, Ciudad<br>
                    - Cookies y datos de uso
                
            </p>
            <h5 class="priv"><strong>Datos de uso</strong></h5>
            <p class="priv">También podemos recopilar información sobre la forma en que se accede al Servicio y se lo utiliza ("Datos de uso"). Estos Datos de Uso pueden incluir información como la 
                    dirección del Protocolo de Internet de su computadora (por ejemplo, la dirección IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que usted visita, 
                    la hora y la fecha de su visita, el tiempo que pasa en esas páginas, los identificadores únicos del dispositivo y otros datos de diagnóstico.
            </p>
            <h5 class="priv"><strong>Datos de seguimiento y cookies</strong></h5>
            <p class="priv">Utilizamos cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y conservar cierta información.</p>
            <p class="priv">Las cookies son archivos con una pequeña cantidad de datos que pueden incluir un identificador único anónimo. Las cookies se envían a su navegador desde un 
                        sitio web y se almacenan en su dispositivo.
                        Las tecnologías de rastreo también se utilizan balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar nuestro Servicio.
            </p>
            <p class="priv">Puede indicar a su navegador que rechace todas las cookies o que indique cuándo se envía una cookie. Sin embargo, si no acepta las cookies, es posible que no 
                    pueda utilizar algunas partes de nuestro Servicio.
            </p>
            <p class="priv">Ejemplos de cookies que utilizamos:<br>

                    -  Cookies de sesión. Utilizamos las cookies de sesión para operar nuestro Servicio.<br>
                    -  Cookies de preferencia. Utilizamos las cookies de preferencia para recordar sus preferencias y diversas configuraciones.<br>
                    -  Cookies de seguridad. Utilizamos las cookies de seguridad con fines de seguridad.
            </p>

            <h3 class="priv"><strong>Uso de los datos</strong></h3>
            <p class="priv">HearMee utiliza los datos recogidos para varios propósitos:<br>

                    1.  Para proveer y mantener el Servicio<br>
                    2.  Para notificarle sobre los cambios en nuestro Servicio<br>
                    3.  Para permitirle participar en las características interactivas de nuestro Servicio cuando usted decida hacerlo<br>
                    4.  Proporcionar atención y apoyo al cliente<br>
                    5.  Proporcionar análisis o información valiosa para que podamos mejorar el Servicio<br>
                    6.  Para supervisar el uso del Servicio<br>
                    7.  Para detectar, prevenir y abordar cuestiones técnicas</p>

            <h3 class="priv"><strong>Transferencia de datos</strong></h3>
            <p class="priv">Su información, incluidos los Datos Personales, puede ser transferida a - y mantenida en - computadoras ubicadas fuera de su estado, provincia, país u otra
                         jurisdicción gubernamental donde las leyes de protección de datos pueden ser diferentes a las de su jurisdicción.</p>
            <p class="priv">Si se encuentra fuera de España y decide proporcionarnos información, tenga en cuenta que transferimos los datos, incluidos los Datos Personales, a España y los procesamos allí.</p>
            <p class="priv">Su consentimiento a esta Política de Privacidad seguido de su envío de dicha información representa su acuerdo con dicha transferencia.</p>
            <p class="priv">Watermelon Corp. tomará todos los pasos razonablemente necesarios para asegurar que sus datos sean tratados con seguridad y de acuerdo con esta Política de
                            Privacidad y ninguna transferencia de sus Datos Personales tendrá lugar a una organización o a un país a menos que haya controles adecuados en el lugar incluyendo la seguridad de sus datos y otra información personal.</p>
                            
            <h3 class="priv"><strong>Divulgación de datos</strong></h3>
            <h5 class="priv"><strong>Requisitos legales</strong></h5>
            <p class="priv">HearMee puede revelar sus datos personales en la creencia de buena fe de que tal acción es necesaria para:<br>

                        - Para cumplir con una obligación legal<br>
                        - Para proteger y defender los derechos o la propiedad de Watermelon Corp.<br>
                        - Para prevenir o investigar posibles actos ilícitos en relación con el Servicio<br>
                        - Para proteger la seguridad personal de los usuarios del Servicio o del público<br>
                        - Para protegerse de la responsabilidad jurídica
            </p>
            <h3 class="priv"><strong>Seguridad de los datos</strong></h3>
            <p class="priv">La seguridad de sus datos es importante para nosotros, pero recuerde que ningún método de transmisión por Internet, o método de almacenamiento electrónico es 100% seguro. Aunque nos esforzamos por 
                            utilizar medios comercialmente aceptables para proteger sus datos personales, no podemos garantizar su seguridad absoluta.</p>


            <h3 class="priv"><strong>Proveedores de servicios</strong></h3>
            <p class="priv">Podemos emplear a empresas y personas de terceros para facilitar nuestro Servicio ("Proveedores de servicios"), para prestar el Servicio en nuestro nombre, para realizar servicios relacionados 
                                con el Servicio o para ayudarnos a analizar cómo se utiliza nuestro Servicio.</p>
            <p class="priv">Estos terceros tienen acceso a sus Datos Personales sólo para realizar estas tareas en nuestro nombre y están obligados a no revelarlos ni utilizarlos para ningún otro propósito.</p>
                
            <h5 class="priv"><strong>Analítica</strong></h5>
            <p class="priv">Podemos utilizar proveedores de servicios de terceros para supervisar y analizar el uso de nuestro Servicio.
             </p>
            <h6 class="priv"><strong>Google Analytics</strong></h6>
            <p class="priv">Google Analytics es un servicio de análisis web ofrecido por Google que rastrea e informa sobre el tráfico del sitio web. Google utiliza los datos recogidos para rastrear y monitorear el 
                                    uso de nuestro Servicio. Estos datos se comparten con otros servicios de Google. Google puede utilizar los datos recopilados para contextualizar y personalizar los anuncios de su propia red publicitaria.</p>

            <p class="priv">Puede optar por no poner su actividad en el Servicio a disposición de Google Analytics instalando el complemento de exclusión de Google Analytics para el navegador. El complemento impide que 
                                        el JavaScript de Google Analytics (ga.js, analytics.js y dc.js) comparta información con Google Analytics sobre la actividad de las visitas.
                                    </p>
            <p class="priv">Para obtener más información sobre las prácticas de privacidad de Google, visite la página web de las Condiciones de privacidad de Google: https://policies.google.com/privacy?hl=en</p>
            
            <h3 class="priv"><strong>Enlaces a otros sitios</strong></h3>
            <p class="priv">Nuestro Servicio puede contener enlaces a otros sitios que no son operados por nosotros. Si hace clic en un enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos 
                                        encarecidamente que revise la Política de privacidad de cada sitio que visite.</p>
            <p class="priv">No tenemos ningún control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.
                                        </p>
            <h3 class="priv"><strong>Privacidad de los niños</strong></h3>
            <p class="priv">Nuestro Servicio no se dirige a nadie menor de 18 años ("Niños").
                                        </p>
            <p class="priv">No recopilamos a sabiendas información personal identificable de nadie menor de 18 años. Si usted es un padre o tutor y sabe que sus hijos nos han proporcionado datos personales,
                                         póngase en contacto con nosotros. Si nos damos cuenta de que hemos recogido Datos Personales de niños sin la verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de nuestros servidores.</p>
            
            
            <h3 class="priv"><strong>Cambios en esta política de privacidad</strong></h3>
            <p class="priv">Podemos actualizar nuestra política de privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de privacidad en esta página.</p>
            <p class="priv">Le informaremos por correo electrónico y/o mediante un aviso destacado en nuestro Servicio, antes de que el cambio entre en vigor y actualizaremos la "fecha de entrada
                                             en vigor" que aparece en la parte superior de esta Política de privacidad.</p>
                                         
            <p class="priv">Se le aconseja que revise esta Política de privacidad periódicamente para conocer los cambios. Los cambios en esta Política de privacidad entrarán en vigor cuando se publiquen en esta página.</p>
            
            
            <h3 class="priv"><strong>Contáctenos</strong></h3>
            <p class="priv">Si tiene alguna pregunta sobre esta Política de Privacidad, por favor contáctenos:<br>

                                                Por correo electrónico: mee6project@gmail.com</p>


            <!--Traducción realizada con la versión gratuita del traductor www.DeepL.com/Translator</p>

        <form class="formulario">
            <p>Nombre: <input type="text" name="nombre" size="38" required></p>
            <p>Email:  <input type="text" name="email" size="40" required></p>
            <textarea name="mensaje" rows="10" cols="50" required placeholder="Envianos tu mensaje"></textarea>
            <br>
              <input class="vermas" type="submit" value="Enviar">
              <input class="vermas" type="reset" value="Borrar">
            
          </form>-->
        </div>
    </section>
    <!-- #about -->
    </main>