<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
  
                <div class="col-lg-3  footer-info">
                    <h3><img src="assets/images/HearMeeF1Invertido.png" alt="Hearmee" class="img" style="width: 200px;"></h3>
                    <p>Aplicación en la que podrás encontrar ofertas de trabajo para todo tipo de músicos, al igual que puedes encontrar a un músico para cualquier tipo de evento.</p>
                </div>
  
  
                <div class=" col-lg-3 footer-contact">
                    <h4><a class="footer"  routerLink="/contacto">Contacta con nosotros</a></h4>
                    
                    <p>
                       Universidad de Alicante <br> San Vicente del Raspeig, Alicante<br> España <br>
                        <strong>Email:</strong> mee6@gmail.com <br>
                    </p>
  
                    <div class="social-links">
                        <a href="https://twitter.com/HearMeeApp" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/HearMeeApp/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/hearmeeapp/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
  
                </div>
                <div class=" col-lg-3 footer-contact">
                    <h4><a class="footer"  routerLink="/privacidad">Privacidad</a></h4>
                </div>
                <div class="container">
                    <div class="copyright">
                        &copy; Copyright <strong>HearMee</strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        Designed by <a href="https://hearmee.ovh/mee6"><img src="assets/images/logoMee6.png" alt="mee6" class="img" style="width: 60px;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>