
<main id="main">
    <!--==========================
  About Us Section
============================-->
    <section id="about">
        <div class="container" style="text-align: center;">
            <h2 class="contacto">Contacta con nosotros</h2>
        <br>
        <h4 class="dudas">Envíanos todas las dudas o sugerencias que tengas</h4>

        <form class="formulario">
            <p>Nombre: <input type="text" name="nombre" size="38" required></p>
            <p>Email:  <input type="text" name="email" size="40" required></p>
            <textarea name="mensaje" rows="10" cols="50" required placeholder="Envianos tu mensaje"></textarea>
            <br>
              <input class="btn-tarjeta btn-basico" type="submit" value="Enviar">
              <input class="btn-tarjeta btn-basico" type="reset" value="Borrar">
            
          </form>
        </div>
    </section>
    <!-- #about -->
</main>








<!--<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css">
<body>

    <div class=" w3-display-container w3-center">
        <h2 class="contacto">Contacta con nosotros</h2>
        <br>
        <h4 class="dudas">Envíanos todas las dudas o sugerencias que tengas</h4>

        <form class="formulario">
            <p>Nombre: <input type="text" name="nombre" size="38" required></p>
            <p>Email:  <input type="text" name="email" size="40" required></p>
            <textarea name="mensaje" rows="10" cols="50" required placeholder="Envianos tu mensaje"></textarea>
            <br>
              <input class="enviar" type="submit" value="Enviar">
              <input class="" type="reset" value="Borrar">
            
          </form>

    </div>

    <footer class="w3-center w3-black w3-padding-64 w3-wide" style="margin-bottom: 0em;">-->
        <!-- <a href="#home" class="w3-button w3-light-blue"><i class="fa fa-arrow-up w3-margin-right"></i>Volver arriba</a>-->
        <!--<a class="texto">HEARMEE</a>
        <br>
        <a class="mail">mee6project@gmail.com</a>
        <br>
        <a class="contacto">Si tienes alguna duda: <a class="footer"  routerLink="/contacto">Contacta con nosotros</a></a>
        <div class="w3-xlarge w3-section">
            <a href="https://www.facebook.com/hearmeeapp/"> <i class="fa fa-facebook-official w3-hover-opacity"></i></a>
            <a href="https://www.instagram.com/hearmeeapp/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
            <a href="https://twitter.com/HearMeeApp"><i class="fa fa-twitter w3-hover-opacity"></i></a>
            <a href="http://hearmee.ovh/mee6"><i class="fa fa-copyright w3-hover-opacity"></i></a>
        </div>
    </footer>
</body>
</html>-->